# SPDX-License-Identifier: Apache-2.0
# © James Ross Ω FLYING•ROBOTS <https://github.com/flyingrobots>
# LaTeX build artifacts
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.synctex.gz
*.xdv
*.ps
*.dvi
*.out
*.nav
*.snm
*.vrb
*.fdb_latexmk
*.fls
_minted*
*.run.xml
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.gz
*.lbx

# Output PDF
main.pdf
