# CODEOWNERS for ${PROJECT_NAME}
# Reference: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*       ${CODEOWNER_HANDLE}
/docs/ ${CODEOWNER_HANDLE}
/packages/echo-core/ ${CODEOWNER_HANDLE}
